In [1]:
import pandas as pd
import numpy as np

In [3]:
ser_1 = pd.Series(["a", "b"])
ser_1.name = "ser_1"
ser_1

0    a
1    b
Name: ser_1, dtype: object

In [4]:
ser_2 = pd.Series(["c", "d"])
ser_2.name = "ser_2"
ser_2

0    c
1    d
Name: ser_2, dtype: object

In [5]:
pd.concat([ser_1, ser_2], axis=0, join="outer")

0    a
1    b
0    c
1    d
dtype: object

In [6]:
df_1 = ser_1.to_frame()
df_1

  ser_1
0     a
1     b

In [7]:
df_2 = ser_2.to_frame()
df_2

  ser_2
0     c
1     d

In [8]:
pd.concat([df_1, df_2], axis=0, join="outer")

  ser_1 ser_2
0     a   NaN
1     b   NaN
0   NaN     c
1   NaN     d

In [14]:
pd.concat([df_1, df_2], axis=0, join="outer", ignore_index=True)

  ser_1 ser_2
0     a   NaN
1     b   NaN
2   NaN     c
3   NaN     d

In [15]:
pd.concat([df_1, df_2], axis=0, join="inner").shape

(4, 0)