In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(data={"col1": [1, 2], "col2": [3, 4]}).astype(dtype={"col1": "float"})
df

   col1  col2
0   1.0     3
1   2.0     4

In [5]:
df = pd.DataFrame([(.21, .32), (.01, .67), (.66, .03), (.21, .18)], columns=["dogs", "cats"], index=["a", "b", "c", "d"])
df

   dogs  cats
a  0.21  0.32
b  0.01  0.67
c  0.66  0.03
d  0.21  0.18

In [12]:
df.round(decimals=1)

   dogs  cats
a   0.2   0.3
b   0.0   0.7
c   0.7   0.0
d   0.2   0.2

In [13]:
df

   dogs  cats
a  0.21  0.32
b  0.01  0.67
c  0.66  0.03
d  0.21  0.18