In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(data={"Animal": ["cat", "penguin", "dog", "spider", "snake"], "Number_legs": [4, 2, 4, np.nan, 8]}, index=[1, 2, 3, 4, 5])
df

    Animal  Number_legs
1      cat          4.0
2  penguin          2.0
3      dog          4.0
4   spider          NaN
5    snake          8.0

In [5]:
df.rank()

   Animal  Number_legs
1     1.0          2.5
2     3.0          1.0
3     2.0          2.5
4     5.0          NaN
5     4.0          4.0

In [15]:
df.rank(na_option="bottom", method="max", pct=True)

   Animal  Number_legs
1     0.2          0.6
2     0.6          0.2
3     0.4          0.6
4     1.0          1.0
5     0.8          0.8