In [144]:
import pandas as pd
import numpy as np

In [145]:
# one dimensional array/sequence of values with associated labels/indices

In [146]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
pd.Series(data=arr)

0     1
1     0
2     1
3     2
4     2
5     2
6     3
7     4
8     5
9     5
10    4
11    4
12    5
13    7
14    7
15    7
16    6
dtype: int64

In [147]:
# numpy n-dimensional array
np.array(arr)

array([1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6])

In [148]:
d = {'a': 1, 'b': 2, 'c': 3}
pd.Series(data=d)

a    1
b    2
c    3
dtype: int64

In [149]:
d = [45, 56, 77]
ser = pd.Series(data=d,index=["a", "b", "c"])
ser

a    45
b    56
c    77
dtype: int64

In [150]:
ser.index

Index(['a', 'b', 'c'], dtype='object')

In [151]:
d = [45, 56, 77]
ser = pd.Series(data=d,index=[1, 2, 3])
ser

1    45
2    56
3    77
dtype: int64

In [152]:
ser.index

Int64Index([1, 2, 3], dtype='int64')

In [153]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
ser = pd.Series(data=arr, dtype=np.float64)
ser

0     1.0
1     0.0
2     1.0
3     2.0
4     2.0
5     2.0
6     3.0
7     4.0
8     5.0
9     5.0
10    4.0
11    4.0
12    5.0
13    7.0
14    7.0
15    7.0
16    6.0
dtype: float64

In [154]:
ser.dtype

dtype('float64')

In [155]:
ser.index

RangeIndex(start=0, stop=17, step=1)

In [156]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
ser = pd.Series(data=arr, dtype=np.float64, index=pd.RangeIndex(start=4, stop=21, step=1))
ser

4     1.0
5     0.0
6     1.0
7     2.0
8     2.0
9     2.0
10    3.0
11    4.0
12    5.0
13    5.0
14    4.0
15    4.0
16    5.0
17    7.0
18    7.0
19    7.0
20    6.0
dtype: float64

In [157]:
type(ser.index)

pandas.core.indexes.range.RangeIndex

In [158]:
books_list = ["Fooled by Randomness", "On the Origin of Species", "World War Z"]
ser = pd.Series(data=books_list, index=["a_1", "a_2", "a_3"], dtype="string")
ser

a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
dtype: string

In [159]:
ser.name == None

True

In [160]:
ser.to_frame()

                            0
a_1      Fooled by Randomness
a_2  On the Origin of Species
a_3               World War Z

In [161]:
ser.name = "my favorite books"

In [162]:
ser

a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
Name: my favorite books, dtype: string

In [163]:
ser.to_frame()

            my favorite books
a_1      Fooled by Randomness
a_2  On the Origin of Species
a_3               World War Z

In [164]:
ser.index.name == None

True

In [165]:
ser.index.name = "my_favorite_indices"
ser

my_favorite_indices
a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
Name: my favorite books, dtype: string

In [166]:
ser.to_frame()

                            my favorite books
my_favorite_indices
a_1                      Fooled by Randomness
a_2                  On the Origin of Species
a_3                               World War Z

In [167]:
# pd.option.display.min_rows = 40

In [168]:
from string import ascii_lowercase, ascii_uppercase

In [169]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [170]:
ser = pd.Series(data=list(ascii_lowercase), index=list(ascii_uppercase))
ser

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object