In [262]:
import pandas as pd
import numpy as np

In [263]:
# one dimensional array/sequence of values with associated labels/indices

In [264]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
pd.Series(data=arr)

0     1
1     0
2     1
3     2
4     2
5     2
6     3
7     4
8     5
9     5
10    4
11    4
12    5
13    7
14    7
15    7
16    6
dtype: int64

In [265]:
# numpy n-dimensional array
np.array(arr)

array([1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6])

In [266]:
d = {'a': 1, 'b': 2, 'c': 3}
pd.Series(data=d)

a    1
b    2
c    3
dtype: int64

In [267]:
d = [45, 56, 77]
ser = pd.Series(data=d,index=["a", "b", "c"])
ser

a    45
b    56
c    77
dtype: int64

In [268]:
ser.index

Index(['a', 'b', 'c'], dtype='object')

In [269]:
d = [45, 56, 77]
ser = pd.Series(data=d,index=[1, 2, 3])
ser

1    45
2    56
3    77
dtype: int64

In [270]:
ser.index

Int64Index([1, 2, 3], dtype='int64')

In [271]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
ser = pd.Series(data=arr, dtype=np.float64)
ser

0     1.0
1     0.0
2     1.0
3     2.0
4     2.0
5     2.0
6     3.0
7     4.0
8     5.0
9     5.0
10    4.0
11    4.0
12    5.0
13    7.0
14    7.0
15    7.0
16    6.0
dtype: float64

In [272]:
ser.dtype

dtype('float64')

In [273]:
ser.index

RangeIndex(start=0, stop=17, step=1)

In [274]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# using pandas Series constructor
ser = pd.Series(data=arr, dtype=np.float64, index=pd.RangeIndex(start=4, stop=21, step=1))
ser

4     1.0
5     0.0
6     1.0
7     2.0
8     2.0
9     2.0
10    3.0
11    4.0
12    5.0
13    5.0
14    4.0
15    4.0
16    5.0
17    7.0
18    7.0
19    7.0
20    6.0
dtype: float64

In [275]:
type(ser.index)

pandas.core.indexes.range.RangeIndex

In [276]:
books_list = ["Fooled by Randomness", "On the Origin of Species", "World War Z"]
ser = pd.Series(data=books_list, index=["a_1", "a_2", "a_3"], dtype="string")
ser

a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
dtype: string

In [277]:
ser.name == None

True

In [278]:
ser.to_frame()

                            0
a_1      Fooled by Randomness
a_2  On the Origin of Species
a_3               World War Z

In [279]:
ser.name = "my favorite books"

In [280]:
ser

a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
Name: my favorite books, dtype: string

In [281]:
ser.to_frame()

            my favorite books
a_1      Fooled by Randomness
a_2  On the Origin of Species
a_3               World War Z

In [282]:
ser.index.name == None

True

In [283]:
ser.index.name = "my_favorite_indices"
ser

my_favorite_indices
a_1        Fooled by Randomness
a_2    On the Origin of Species
a_3                 World War Z
Name: my favorite books, dtype: string

In [284]:
ser.to_frame()

                            my favorite books
my_favorite_indices
a_1                      Fooled by Randomness
a_2                  On the Origin of Species
a_3                               World War Z

In [285]:
# pd.option.display.min_rows = 40

In [286]:
from string import ascii_lowercase, ascii_uppercase

In [287]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [288]:
ser = pd.Series(data=list(ascii_lowercase), index=[f"Label_{i}" for i in list(ascii_uppercase)])
ser

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
Label_F    f
Label_G    g
Label_H    h
Label_I    i
Label_J    j
Label_K    k
Label_L    l
Label_M    m
Label_N    n
Label_O    o
Label_P    p
Label_Q    q
Label_R    r
Label_S    s
Label_T    t
Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [289]:
ser = pd.Series(data=list(ascii_lowercase), index=map(lambda x: f"Label_{x}", list(ascii_uppercase)))
ser

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
Label_F    f
Label_G    g
Label_H    h
Label_I    i
Label_J    j
Label_K    k
Label_L    l
Label_M    m
Label_N    n
Label_O    o
Label_P    p
Label_Q    q
Label_R    r
Label_S    s
Label_T    t
Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [290]:
# find last six letters in series using label indexing 
ser["Label_U":]

Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [291]:
# find last six letters in series using label indexing 
# end index is inclusive when using labels
ser["Label_U": "Label_Z"]

Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [292]:
# adding prefixes and suffixes
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df

   A  B
0  1  3
1  2  4
2  3  5
3  4  6

In [293]:
df.add_prefix("Label_")

   Label_A  Label_B
0        1        3
1        2        4
2        3        5
3        4        6

In [294]:
# iloc indexer
ser.iloc[-6:]

Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [295]:
# loc indexer
ser.loc["Label_U":]

Label_U    u
Label_V    v
Label_W    w
Label_X    x
Label_Y    y
Label_Z    z
dtype: object

In [296]:
# series after implementing boolean masking using boolean series based on given logical conditions
ser.loc[(ser == "u") | (ser == "x") | (ser == "a")]

Label_A    a
Label_U    u
Label_X    x
dtype: object

In [297]:
# boolean series based on logical conditions
(ser == "u") | (ser == "x") | (ser == "a")

Label_A     True
Label_B    False
Label_C    False
Label_D    False
Label_E    False
Label_F    False
Label_G    False
Label_H    False
Label_I    False
Label_J    False
Label_K    False
Label_L    False
Label_M    False
Label_N    False
Label_O    False
Label_P    False
Label_Q    False
Label_R    False
Label_S    False
Label_T    False
Label_U     True
Label_V    False
Label_W    False
Label_X     True
Label_Y    False
Label_Z    False
dtype: bool

In [298]:
ser.loc[["Label_B", "Label_E", "Label_J"]]

Label_B    b
Label_E    e
Label_J    j
dtype: object