In [127]:
import pandas as pd
import numpy as np

In [128]:
arr = [1, 0, 1, 2, 2, 2, 3, 4, 5, 5, 4, 4, 5, 7, 7, 7, 6]

# core python way to detect streaks
previous_value = arr[0]
streak_begin = 0
streak_end = 0

for index, value in enumerate(arr[1:]):
    if value == previous_value:
        streak_end = index + 1
    else:
        if streak_end- streak_begin >= 1:
            print(arr[streak_begin: streak_end + 1])
        streak_begin = index + 1
        streak_end = index + 1
    previous_value = value
    if index == len(arr[1:]) - 1:
        if streak_end - streak_begin >= 1:
            print(arr[streak_begin: streak_end + 1])

[2, 2, 2]
[5, 5]
[4, 4]
[7, 7, 7]

In [129]:
ser = pd.Series(arr)
ser.name = "ser"
ser

0     1
1     0
2     1
3     2
4     2
5     2
6     3
7     4
8     5
9     5
10    4
11    4
12    5
13    7
14    7
15    7
16    6
Name: ser, dtype: int64

In [130]:
ser_diff = ser.diff(periods=1)
ser_diff.name = "ser diff 1"
ser_diff

0     NaN
1    -1.0
2     1.0
3     1.0
4     0.0
5     0.0
6     1.0
7     1.0
8     1.0
9     0.0
10   -1.0
11    0.0
12    1.0
13    2.0
14    0.0
15    0.0
16   -1.0
Name: ser diff 1, dtype: float64

In [131]:
df = pd.merge(left=ser, right=ser_diff, left_index=True, right_index=True)
df["streak bool"] = (df["ser diff 1"] != 0) & (df["ser diff 1"].notna())
df

    ser  ser diff 1  streak bool
0     1         NaN        False
1     0        -1.0         True
2     1         1.0         True
3     2         1.0         True
4     2         0.0        False
5     2         0.0        False
6     3         1.0         True
7     4         1.0         True
8     5         1.0         True
9     5         0.0        False
10    4        -1.0         True
11    4         0.0        False
12    5         1.0         True
13    7         2.0         True
14    7         0.0        False
15    7         0.0        False
16    6        -1.0         True

In [132]:
df["streak num"] = df["streak bool"].cumsum()
df

    ser  ser diff 1  streak bool  streak num
0     1         NaN        False           0
1     0        -1.0         True           1
2     1         1.0         True           2
3     2         1.0         True           3
4     2         0.0        False           3
5     2         0.0        False           3
6     3         1.0         True           4
7     4         1.0         True           5
8     5         1.0         True           6
9     5         0.0        False           6
10    4        -1.0         True           7
11    4         0.0        False           7
12    5         1.0         True           8
13    7         2.0         True           9
14    7         0.0        False           9
15    7         0.0        False           9
16    6        -1.0         True          10

In [133]:
df = df.loc[:, ["ser", "streak num"]].value_counts()
df.name = "streak counts"
df = df.reset_index().loc[:, ["ser", "streak counts"]]
df

    ser  streak counts
0     2              3
1     7              3
2     4              2
3     5              2
4     0              1
5     1              1
6     1              1
7     3              1
8     4              1
9     5              1
10    6              1

In [134]:
# get max streak value
df.loc[df["streak counts"] == df["streak counts"].max()]

   ser  streak counts
0    2              3
1    7              3

In [135]:
# get all streaks greater than 1
df[df["streak counts"] > 1]

   ser  streak counts
0    2              3
1    7              3
2    4              2
3    5              2